<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Vishnu</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/assets/css/grid.css" rel="stylesheet">
    <!-- JQuery JSON styles -->
    <link href="/assets/json/jquery.json-viewer.css" rel="stylesheet">
    <!-- JQuery js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- JQuery JSON js -->
    <script src="/assets/json/jquery.json-viewer.js"></script>
  </head>

  <body>

    <div class="container">

      <h1>Vishnu</h1>
      <h2>API</h2>
      <hr>
      Running
    </div> <!-- /container -->

  <script>
    $(document).ready( function() {} );
  </script>

</body>
</html>
